body{
    color:indianred;
    background: url('/static/images/4010044.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-custom{
    background:yellow;
}

.navbar-custom .navbar-text {
    color:yellow;
}

@font-face {
    font-family: "MyFont";
    src:  url('chocolatecyr_lat.otf') format("opentype");
}
.header {
    font-family: Rockwell;
    text-align: center;
    font-style: normal;
    font-size: 100px;
    background:linear-gradient(red,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.header2 {
    font-family: "Book Antiqua";
    text-align: center;
    font-style: normal;
    font-size: 70px;
    background:linear-gradient(white,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@-webkit-keyframes fontfix {
    from { opacity: 5%; }
    to   { opacity: 5%; }
}

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

.container-button {
    background-image: linear-gradient(to left, rgba(255, 146, 202, 0.75) 0%, rgba(145, 149, 251, 0.86) 100%);
    box-shadow: 0 9px 25px -5px #df91fb;
    font-family: 'Abel', sans-serif;
    padding: 0.5em 1.9em;
    border-radius: 7px;
    font-size: 1.4em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1em;
    outline: none;
    border: none;
    transition: 0.3s linear;
}